<!DOCTYPE html>
<html lang="en">
  <%- include('../views/head') %>
  <%- include('../views/navbar') %>
<body><!-- Main page/ html for frontend-->
  <br></br>
  <h1>Student Registry: by Cadell Julien</h1>
  <p>This is the homepage for the offical Student registry. You'll be able to add, update, view, delete and list students.</p>
</body>
</html>