<!DOCTYPE html>
<html lang="en">
<header>    
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">Student Registry</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
<!-- navbar for my frontend -->
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="index">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="addStudent">Add</a>
      </li>
        <li class="nav-item">
          <a class="nav-link" href="updateStudent">Update</a>
        </li>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="displayStudent">View</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="deleteStudent">Delete</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:5678/students">List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="searchStudent">Search</a>
      </li>
    </li>
    </ul>
    
  </div>
</nav>
</header>
</html>